/* Melissa Mangos */

/* Body uses Google font, and outlines all text in black */
body {
	font-family: 'Share Tech Mono';
	color: white;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	overflow: hidden;
}

/* Style for the current time, centered 
in the middle of the webpage */
#clock {
	width: 80%; 
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	font-size: 9em;
}

/* Style for the colour code under the clock */
#colour {
	width: 40%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	font-size: 2em;
	letter-spacing: 10px;
}

/*  Style for the div containing the link to 
the github repository */
#link {
	width: 33%;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

/* Style for the github image itself, 
changes transparency when clicked */
#image {
	opacity: 0.5;
	width: 40px;
	height: 40px;
}
#image:hover {
	opacity: 0.8;
}

/* Media Queries */
/* Screen sizes >= 960px */
@media all and (min-width: 1185px) {
	body {
		font-size: 16px;
	}

	#clock {
		margin-top: 18%;
	}

}

/* Screen sizes < 960px and >= 680px */
@media all and (min-width: 895px) and (max-width: 1184px) {
	body {
		font-size: 12px;
	}

	#clock {
		margin-top: 25%;
	}
}

/* Screen sizes < 680px and >= 515px */
@media all and (min-width: 675px) and (max-width: 894px) {
	body {
		font-size: 9px;
	}

	#clock {
		margin-top: 32%;
	}

	#image {
		width: 25px;
		height: 25px;
	}
}

/* Screen sizes < 515px */
@media all and (max-width: 674px) {
	body {
		font-size: 5px;
	}

	#clock {
		margin-top: 50%;
	}

	#colour {
		visibility: hidden;
		width: 0px;
		margin: 0;
	}

	#image {
		width: 25px;
		height: 25px;
	}
}